USE [master]
GO
/****** Object:  Database [Products]    Script Date: 09-09-2018 23:11:08 ******/
CREATE DATABASE [Products]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Products', FILENAME = N'C:\Users\Mohit Mehndiratta\Desktop\SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Products.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Products_log', FILENAME = N'C:\Users\Mohit Mehndiratta\Desktop\SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Products_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Products].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Products]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 09-09-2018 23:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Activity](
	[ActivityId] [int] IDENTITY(1,1) NOT NULL,
	[ActivityName] [varchar](50) NOT NULL,
	[ActivityPrice] [int] NOT NULL,
	[ActivityType] [varchar](50) NOT NULL,
	[IsSaved] [varchar](50) NOT NULL,
	[IsBooked] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Air]    Script Date: 09-09-2018 23:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Air](
	[AirId] [int] IDENTITY(1,1) NOT NULL,
	[AirName] [varchar](50) NOT NULL,
	[AirFromCity] [varchar](50) NOT NULL,
	[AirToCity] [varchar](50) NOT NULL,
	[AirClass] [varchar](50) NOT NULL,
	[IsSaved] [varchar](50) NOT NULL,
	[IsBooked] [varchar](50) NOT NULL,
	[AirPrice] [int] NOT NULL,
 CONSTRAINT [PK_Air] PRIMARY KEY CLUSTERED 
(
	[AirId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Car]    Script Date: 09-09-2018 23:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Car](
	[CarId] [int] IDENTITY(1,1) NOT NULL,
	[CarName] [varchar](50) NOT NULL,
	[CarModel] [varchar](50) NOT NULL,
	[IsSaved] [varchar](50) NOT NULL,
	[IsBooked] [varchar](50) NOT NULL,
	[CarColour] [varchar](50) NOT NULL,
	[CarPrice] [int] NOT NULL,
	[CarType] [varchar](50) NOT NULL,
	[CarBrandName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 09-09-2018 23:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hotel](
	[HotelId] [int] IDENTITY(1,1) NOT NULL,
	[HotelName] [varchar](50) NOT NULL,
	[HotelCity] [varchar](50) NOT NULL,
	[HotelAvailableRooms] [int] NOT NULL,
	[IsSaved] [varchar](50) NOT NULL,
	[IsBooked] [varchar](50) NOT NULL,
	[HotelRoomType] [varchar](50) NOT NULL,
	[HotelPrice] [int] NOT NULL,
 CONSTRAINT [PK_Hotel] PRIMARY KEY CLUSTERED 
(
	[HotelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
