<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="car" value="FactoryDesignPattern.CarProduct"/>
    <add key="hotel" value="FactoryDesignPattern.HotelProduct"/>
    <add key="activity" value="FactoryDesignPattern.ActivityProduct"/>
    <add key="air" value="FactoryDesignPattern.AirProduct"/>
    <add key="Exit" value="FactoryDesignPattern.ExitProduct"/>
    <add key="sql" value="FactoryDesignPattern.SQLDatabase"/>
    <add key="file" value="FactoryDesignPattern.FileDatabase"/>
  </appSettings>
</configuration>