
@{
    ViewBag.Title = "LoggedInAsAdmin";
}

<h2 align="center">@ViewBag.Message</h2>
<br />
<br />
<br />
<div class="row">
    <div class="col-md-4">
        @using (Html
            .BeginForm("AddValues", "Car", FormMethod.Post))
        {
            <input style=" width:100px;" type="submit" value="Car" />
        }
        <br />
        @using (Html
           .BeginForm("AddValues", "Activity", FormMethod.Post))
        {
            <input style=" width:100px;" type="submit" value="Activity" />
        }
        <br />
        @using (Html
           .BeginForm("AddValues", "Air", FormMethod.Post))
        {
            <input style=" width:100px;" type="submit" value="Air" />
        }
        <br />
        @using (Html
           .BeginForm("AddValues", "Hotel", FormMethod.Post))
        {
            <input style=" width:100px;" type="submit" value="Hotel" />
        }
    </div>
</div>
<hr />

